{% extends "base.html" %}
{% load static %}

{% block title %}All Plants{% endblock %}

{% block content %}
<div class="plants_filter_container">
  <!-- Header with Title and Filter Icon -->
  <div class="plants_header">
    <h1 class="plants_title">All Plants</h1>

    <!-- Include Filter Form -->
  {% include "plants/_filter_form.html" with categories=categories countries=countries selected_countries=selected_countries hidden=False %}
  
  <!-- Include Plant Grid -->
  {% include "plants/_plant_grid.html" with plants=plants %}

  <div class="back_button_container">
    <a href="{% url 'plants:plants_view' %}" class="back_button">Back to All Plants</a>
  </div>
</div>
{% endblock %}
